//_variables.scss

$basic-font: 						'ubunturegular', Arial, Helvetica, sans-serif;
$central-block-width:	  1160px;
$p-color:								#8a8a8a;
$main-background:				#2a2d32;
$second-background:			#35383c;
$blue-color: 						#248cec;
$yellow-color: 					#f4b60d;
$pagination-active-color: #001d1d;


