@import '_variables';

* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'ubunturegular';
	src: url('../font/ubuntu-r1-webfont.woff2') format('woff2'),
	url('../font/ubuntu-r1-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: $basic-font;
	font-size: 13px;
	line-height: 18px;
	background: #fff;
}

/* main layout */
.wrapper {

	margin: 0 auto;
	background: #fff;
}

/* limiting the width of some blocks */
header, .article, .content-wrapper,
.bottom__logos, .footer-up, {
	display: block;
	width: 1160px;
	margin: 0 auto;
}

p {
	color: $p-color;
}

.head__logo {
	display: inline-block;
	float: left;
	height: 110px;
}

.head__logo__img {
	display: block;
	padding-top: 37px;
}

/* social logo section */
.head__social__logo ul {
	list-style: none;
}


.social__logo a {
	display: inline-block;
	float: right;
	width: 16px;
	height: 16px; 
	margin: 48px 0 0 20px;
	background-image: url(../img/sprite.png);
}


.social__logo--skype a {
	background-position: -98px 0px;
}

.social__logo--linkedin a {

	background-position: -72px 0px;
}

.social__logo--rss a {
	background-position: -45px 0px;

}

.social__logo--twitter a {
	background-position: -18px 0px;


}

.social__logo--facebook a {
	background-position: 0px 0px;

}

.social__logo--skype a:hover {
	background-position: -98px -27px;

}

.social__logo--linkedin a:hover {
	background-position: -72px -27px;

}

.social__logo--rss a:hover {
	background-position: -45px -27px;
}

.social__logo--twitter a:hover {

	background-position: -18px -27px;

}

.social__logo--facebook a:hover {
	background-position: 0px -27px; 

}



/* end of social logo section */

/* top menu section */
.head__navigation {
	clear: both;
	display: block;
	height: 58px;
	margin: 0 auto 40px;
	background: $main-background;
}

.head__menu {
	ul {
		list-style: none;
	}

	li {
		display: inline-block;
		float: left;
		padding: 0 40px;
		line-height: 58px;
		border-right: 1px solid #181a1d;
	}

	a {
		text-decoration: none;
		text-transform: uppercase;
		color: #fff;
	}
}

.head__menu ul li.first__item {
	background-color: $blue-color;
}

.head__menu ul li a:hover {
	color: $yellow-color;
}

.head__search {
	display: inline-block;
	float: right;
}

.input__text {
	width: 230px;
	height: 36px;
	margin: 10px 10px 0 0;
	padding-left: 10px;
	border: 1px solid #181a1d;
	background-color: $second-background;
}

.head__jcarousel {
	// position: relative;
	// overflow: hidden;

	&__list {
		width: 20000em;
		position: relative;
		margin: 0;
		padding: 0;

	}	

	&__item {
		float: left;
		position: relative;
	}

	&__slogan {
		position: absolute;
		bottom: 15px;
		left: 19px;
		padding: 22px;
		font-family: "Ubuntu Light Bold", Arial, sans-serif;
		font-size: 54px;
		font-weight: 500;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		span{
			clear: right;
			color: #fff;
			background-color: rgba(0, 0, 0, 0.7);
			padding: 20px 20px;
		}

		span:first-child{
			color: $yellow-color;
		}

		img {
			width: 1160px;
			height: 470px;
		}
	}



}


/* section with three articles */
.article {
	height: 340px;
}

.article__item {
	display: inline-block;
	width: 380px;
	height: 175px;
	padding-top: 75px;
}

.article__item h1 {
	display: inline-block;
	float: left;
	height: 175px;
	padding-top: 20px;
	font-size: 90px;
	color: #e9e9ea;
}	

.article__item img {
	display: inline-block;
	margin-right: 230px;
	padding-left: 10px;
}

.article__item h3 {
	display: inline-block;
	clear: both;
	padding: 10px 0 0 10px;
}

.article__item a {
	padding: 5px 10px;
	text-decoration: none;
	color: #2a2b2e;
}

.article__item span {
	padding-left: 10px;
	color: $blue-color;
}

.article__item a:hover {
	color: $blue-color;
}

.article__item a span:hover {
	color: #2a2b2e;
}

.article__item p {
	overflow: hidden;
	padding: 18px 10px;
}

/* four photos services section */
.services {
	height: 500px;
	background-color: $main-background;
}

.services-wrapper {
	@extend .article;
	position: relative;
}

.services-wrapper p {
	padding-top: 50px;
	font-size: 24px;
	color: #fff;
}

.services__item {
	display: inline-block;
	width: 260px;
	height: 260px;
	padding-top: 55px; 
	padding-right: 34px;  
}

.services__item.last {
	padding-right: 0;
}

figcaption {
	padding-top: 36px;
	text-align: center;
	font-size: 16px;
	color: #fff;
}

/* section with two columns of content */
.content {
	height: 540px;
	background-color: #f7f7f7;
}

.content__left {
	display: block;
	float: left;
	width: 575px;
	height: 400px;
	padding-top: 10px;
}

.content__right {
	display: block;
	float: left;
	width: 560px;
	height: 400px;
	padding-top: 70px;
}

.column__content h3 {
	padding-top: 60px;
	font-size: 24px;
}

.column__content__item {
	padding-top: 30px;
	height: 150px;
}

.column__content__item img {
	display: inline-block;
	float: left;
}

.column__content__item h4 {
	display: inline-block;
	clear: both;
	padding-left: 15px;
	font-size: 16px;
}

.column__content__item h4 a {
	text-decoration: none;
	color: $main-background;
}

.column__content__item h4 a:hover {
	color: $blue-color;
}

.column__content__item p {
	padding-left: 182px;
}

.column__content__item span a {
	text-decoration: none;
	color: $blue-color;
}

.content__right h3 {
	padding-bottom: 25px;
	font-size: 24px;
}

/* section with trade marks */
.bottom__logos {
	height: 240px;
}

.bottom__logos img {
	display: inline-block;
	padding-top: 85px;
}

/* two-section footer */
footer {
	position: relative;
	width: 100%;
	height: 384px;
	background-color: $main-background;
}

.footer-up__item {
	display: inline-block;
	float: left;
	width: 290px;
	height: 182px;
	padding-top: 72px;
}

.footer-up__item {
	font-size: 16px;
	color: #fff;
}

.footer-up__item ul {
	margin-right: 40px;
	padding-top: 48px;
	list-style: none;
}

.footer-up__item ul li {
	display: inline-block;
	padding: 5px 0;
}

.footer-up__item ul li a {
	display: inline-block;
	width: 290px;
	text-decoration: none;
	color: #76787a;
}

.footer-up__item ul li a:hover {
	color: $blue-color;
}

.footer-up__item hr {
	width: 90%;
	size: 0.5px;
	color: #76787a;
	opacity: 0.4;
}

/* the lower part of the footer */
.footer-bottom-wrapper {
	@extend .article;
	height: 58px;
}

.footer-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	line-height: 58px;
	background-color: #35383c;
}

.footer-bottom__item {
	display: inline-block;
	padding-right: 40px;
}

.footer-bottom__item img {
	display: inline-block;
	padding-right: 10px;
}

.footer-bottom p {
	display: inline-block;
	float: right;
}